<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product and PDF List</title>
    <style>
        table {
            margin-top: 10px;
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            text-align: center;
            color: #00008B;
        }
        .table-container {
            margin-top: 20px; /* Adjust spacing as needed */
        }
    </style>
</head>
<body>

<h2>Excel List</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Sheet Name</th>
    </tr>
    </thead>
    <tbody id="productTableBody">
    <!-- Iterate over products using Thymeleaf -->
    <tr th:each="item : ${combinedList}">
        <td th:if="${item.getClass().getSimpleName() == 'Product'}" th:text="${item.productId}">-</td>
        <td th:if="${item.getClass().getSimpleName() == 'Product'}" th:text="${item.productName}">-</td>
        <td th:if="${item.getClass().getSimpleName() == 'Product'}" th:text="${item.productDesc}">-</td>
        <td th:if="${item.getClass().getSimpleName() == 'Product'}" th:text="${item.productPrice}">-</td>
        <td th:if="${item.getClass().getSimpleName() == 'Product'}" th:text="${item.sheetName}">-</td>
    </tr>
    </tbody>
</table>

<div class="table-container"></div> <!-- Empty div for spacing -->

<h2>PDF List</h2>

<table>
    <thead>
    <tr>
        <th>Filename</th>
        <th>Create At</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="pdfTableBody">
    <!-- Iterate over PDFs using Thymeleaf -->
    <tr th:each="item : ${combinedList}">
        <td th:if="${item.getClass().getSimpleName() == 'Pdf'}" th:text="${item.filename}">-</td>
        <td th:if="${item.getClass().getSimpleName() == 'Pdf'}" th:text="${item.createAt}">-</td>
        <td th:if="${item.getClass().getSimpleName() == 'Pdf'}"><a th:href="@{'/view-pdf/' + ${item.filename}}" target="#">View PDF</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
