<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <style>
        table {
            margin-top: 10px;
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            text-align: center;
            color: #00008B;
        }
    </style>
</head>
<body>

<h2>Product List</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>DateTime</th>
        <th>Sheet Name</th>
        <th>Filename</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="productTableBody">
    <!-- Iterate over products using Thymeleaf -->
    <tr th:each="product : ${products}">
        <td th:text="${product.productId}">ID</td>
        <td th:text="${product.productName}">Product Name</td>
        <td th:text="${product.productDesc}">Description</td>
        <td th:text="${product.productPrice}">Price</td>
        <td th:text="${product.sheetName}">Sheet Name</td>

        <td th:text="${product.createAt}">Price</td>
        <td th:text="${product.filename}">Filename</td>
        <td><a th:href="@{'/view-pdf/' + ${product.filename}}" target="_blank">View PDF</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
